<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>ShoppingVR</title>

    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../resources/css/estilos.css" />
  </head>

  <body>
    <header></header>

    <br>
    <br>

    <main class="container">
        <h3 class="title">Bienvenido</h3>
        <!-- Se muestra un saludo según la hora del cliente -->
        <div class="row">
            <h4 class="saludo" id="greeting"></h4>
        </div>

        <div class="row graficas">
            <div class="col grafica">
                <canvas id="chart1"></canvas>
            </div>
            <div class="col grafica">
                <canvas id="chart2"></canvas>
            </div>
            <div class="col grafica">
                <canvas id="chart3"></canvas>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col grafica">
                <canvas id="chart4"></canvas>
            </div>
            <div class="col grafica">
                
            </div>
            <div class="col grafica">
                <canvas id="chart5"></canvas>
            </div>
        </div>
        <script src="../../resources/js/chart.umd.min.js"></script>
    </main>

    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript" src="../../controllers/dashboard/account.js"></script>
    <script type="text/javascript" src="../../controllers/dashboard/main.js"></script>
  </body>
</html>
