<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ShoppingVR</title>


    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>

    <!--navbar -->
    <header></header>

    <div class="container" id="main">
      <div class="row">
        <div class="col-md-8">
          <div class="pull-center">
            <form class="d-flex" role="search" method="post" id="search-form">
              <input id="search" type="text" name="search" class="form-control me-2 light-table-filter" data-table="table"
                placeholder="Buscar" aria-label="Search" required>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pull-center">
            <a onclick="openReport()" class="btn btn-primary" data-tooltip="Reporte">
              <i class="fa fa-file" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

    <div class="row">
          <div class="col-md-12">
             <fieldset>
              <legend>Listado de Pedidos</legend>
                <table class="table table-bordered">
                  <thead>
                    <tr id="records"></tr>
                    <tr>
                      <th>#</th>
                      <th>Cliente</th>
                      <th>N° Pedido</th>
                      <th>Direccion</th>
                    </tr>
                  </thead>
                  <tbody id="tbody-rows"> 
                   
                  </tbody>
                </table>
             </fieldset>
          </div>
        </div>


    </div> 
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript" src="../../controllers/dashboard/account.js"></script>
    <script type="text/javascript" src="../../controllers/dashboard/pedidos.js"></script>
  </body>
</html>
